//	BEGIN: General Mode

.c-layout-revo-slider-3 {
	
	h3 {
		letter-spacing: 1px;
		line-height: 56px;
	}

	.c-action-btn.c-btn-border-2x {
		padding: 9px 24px 7px 24px;
		font-size: 16px;    
	}
	
	.c-block-text {
		display: inline-block;
		padding: 40px;
	}

	.c-block-bordered {
		border: 1px solid rgba(#000, 0.05); 
		padding: 30px 50px;
		letter-spacing: 1px;
		line-height: 68px;
	}
}