//	BEGIN: General Mode

.c-layout-revo-slider-5 {
	
	h3 {
		letter-spacing: 1px;
		line-height: 56px;
	}

	.c-action-btn.c-btn-border-2x,
	.c-action-btn.btn,  {
		padding: 9px 24px 7px 24px;
		font-size: 16px;    
	}
	
	.c-block-text {
		display: inline-block;
		padding: 30px;
	}

	.c-block-bordered {
		padding: 40px 50px;
		border: 1px solid rgba(#000, 0.1);   
		letter-spacing: 1px;
		line-height: 66px;
	}

	.c-block-box {
		background: #eb5d68; 
		padding: 50px 50px;
		letter-spacing: 1px;
		line-height: 38px;  
		text-align: center;
	}
}