//	BEGIN: General Mode

.c-layout-revo-slider-4 {
	
	h3 {
		letter-spacing: 1px;
		line-height: 56px;
	}

	.c-action-btn.c-btn-border-2x {
		padding: 9px 24px 7px 24px;
		font-size: 16px;    
	}
	
	.c-block-text {
		display: inline-block;
		padding: 40px;
	}

	.c-block-bordered {
		background: rgba(#000, 0.05); 
		padding: 380px 260px 380px 260px;
		letter-spacing: 1px;
		line-height: 68px;
		border-radius: 600px;
	}

	.c-block-bordered-square {
		background: rgba(#000, 0.11); 
		padding: 300px 300px;
		letter-spacing: 1px;
		line-height: 68px;
	}
}