{% extends 'home.html' %}
{#TODO: We should be able to sort ascending and descending#}
{% block main_section %}
    <div class="container-fluid">

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center"> Ranking</th>
                <th class="text-left"> Player's Name</th>
                <th class="text-center"><a href="{% url 'general' 'games_played' %}"> Games</a></th>
                <th class="text-center"><a href="{% url 'general' 'wins' %}"> Wins</a></th>
                <th class="text-center"><a href="{% url 'general' 'draws' %}"> Draws</a></th>
                <th class="text-center"><a href="{% url 'general' 'losses' %}"> Losses</a></th>
                <th class="text-center"><a href="{% url 'general' 'goals' %}"> Goals</a></th>
                <th class="text-center"><a href="{% url 'general' 'assists' %}"> Assists</a></th>
                <th class="text-center"><a href="{% url 'general' 'elo' %}"> ELO</a></th>
            </tr>
            </thead>
            <tbody>

            {% for player in players %}
                {% if player.is_active %}
                    <tr>
                        {% else %}
                    <tr class="inactive_player">
                {% endif %}
                    <th class="text-center" scope="row"> {{ forloop.counter }}</th>
                    <td class="text-left">{{ player.name }}</td>
                    <td class="text-center">{{ player.global_stats.games_played }}</td>
                    <td class="text-center">{{ player.global_stats.wins }}</td>
                    <td class="text-center">{{ player.global_stats.draws }}</td>
                    <td class="text-center">{{ player.global_stats.losses }}</td>
                    <td class="text-center">{{ player.global_stats.goals }}</td>
                    <td class="text-center">{{ player.global_stats.assists }}</td>
                    <td class="text-center">{{ player.global_stats.elo }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
