{% extends 'home.html' %}

{% block main_section %}
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center"> Ranking</th>
                <th class="text-left"> Player's Name</th>
                <th class="text-center"><a href="{% url 'general' 'games_played' %}"> Games</a></th>
                <th class="text-center"><a href="{% url 'general' 'wins' %}"> Wins</a></th>
                <th class="text-center"><a href="{% url 'general' 'draws' %}"> Draws</a></th>
                <th class="text-center"><a href="{% url 'general' 'losses' %}"> Losses</a></th>
                <th class="text-center"><a href="{% url 'general' 'goals' %}"> Goals</a></th>
                <th class="text-center"><a href="{% url 'general' 'assists' %}"> Assists</a></th>
                <th class="text-center"><a href="{% url 'general' 'elo' %}"> Average</a></th>
            </tr>
            </thead>
            <tbody>

            {% for player in players %}
                <tr>
                    <th class="text-center" scope="row"> {{ forloop.counter }}</th>
                    <td class="text-left">{{ player.name }}</td>
                    <td class="text-center">{{ player.games_played }}</td>
                    <td class="text-center">{{ player.wins }}</td>
                    <td class="text-center">{{ player.draws }}</td>
                    <td class="text-center">{{ player.losses }}</td>
                    <td class="text-center">{{ player.goals }}</td>
                    <td class="text-center">{{ player.assists }}</td>
                    <td class="text-center">{{ player.elo }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}