{% extends 'season.html' %}
{% block table_headers %}
    <th class="text-center"> Ranking</th>
    <th class="text-left"> Player's Name</th>
    {% for param in order_by %}
        {% if order == param.0 %}
            <th class="text-center order-column"><a
                    href="{% url 'general' %}-{{ param.0 }}">
                {{ param.1 }}</a></th>
        {% else %}
            {% if order == param.2 %}
                <th class="text-center order-column">
                    {% else %}
                <th class="text-center">
            {% endif %}
        <a href="{% url 'general' order=param.0 %}">
            {{ param.1 }}</a></th>
        {% endif %}

    {% endfor %}
{% endblock %}
{% block active_players %}
    {% for player in active_players %}
        <tr class="player-line">
            <th class="text-center" scope="row"> {{ forloop.counter }}</th>
            <td class="text-left">{{ player.name }}</td>
            <td class="text-center">{{ player.global_stats.games_played }}</td>
            <td class="text-center">{{ player.global_stats.wins }}</td>
            <td class="text-center">{{ player.global_stats.draws }}</td>
            <td class="text-center">{{ player.global_stats.losses }}</td>
            <td class="text-center">{{ player.global_stats.goals }}</td>
            <td class="text-center">{{ player.global_stats.assists }}</td>
            <td class="text-center">{{ player.global_stats.elo }}</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block inactive_players_headers %}
    <th class="text-center"> Ranking</th>
    <th class="text-left"> Player's Name</th>
    {% for param in order_by %}
        {% if order == param.0 %}
            <th class="text-center order-column"><a
                    href="{% url 'general' %}-{{ param.0 }}#inactive_players">
                {{ param.1 }}</a></th>
        {% else %}
            {% if order == param.2 %}
                <th class="text-center order-column">
                    {% else %}
                <th class="text-center">
            {% endif %}
        <a href="{% url 'general' order=param.0 %}#inactive_players">
            {{ param.1 }}</a></th>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block inactive_players %}
    {% for player in inactive_players %}
        <tr>
            <th class="text-center" scope="row"> {{ forloop.counter }}</th>
            <td class="text-left">{{ player.name }}</td>
            <td class="text-center">{{ player.global_stats.games_played }}</td>
            <td class="text-center">{{ player.global_stats.wins }}</td>
            <td class="text-center">{{ player.global_stats.draws }}</td>
            <td class="text-center">{{ player.global_stats.losses }}</td>
            <td class="text-center">{{ player.global_stats.goals }}</td>
            <td class="text-center">{{ player.global_stats.assists }}</td>
            <td class="text-center">{{ player.global_stats.elo }}</td>
        </tr>
    {% endfor %}
{% endblock %}
